$accentColor = #424242;
$textColor = #232321;

.half-width-image {
    width: 50%;
}

@media (max-width: 719px) {
    .half-width-image {
        width: 100%;
    }
}

summary {
    opacity: 0.6;
    cursor: pointer;
}